# Data Collection

We will be looking at the review data on the website called [Skytrax](https://www.airlinequality.com/airline-reviews/british-airways) and will collect the data about the airline review, the rating given bu the customer etc.

In [1]:
# Libraries to be imported

import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [8]:
# Initializing the empty lists to collect the data

reviews = []
rating = []
date = []
country = []

In [9]:
# Data collection

for i in range(1,36):
    print(f"Scrapping page: {i}")
    
    page = requests.get(f"https://www.airlinequality.com/airline-reviews/british-airways/page/{i}/?sortby=post_date%3ADesc&pagesize=100")
    
    soup = BeautifulSoup(page.content, "html.parser")
    
    for item in soup.find_all("div", class_="text_content"):
        reviews.append(item.text)
        
    for item in soup.find_all("div", "rating-10"):
        if 'rating-large' in item['class']:
            continue
        else:
            try:
                rating.append(item.span.text)
            except:
                rating.append("None")
                print(f"             Error on page: {i}")
    
    for item in soup.find_all("time"):
        date.append(item.text)
    
    for item in soup.find_all("h3"):
        country.append(item.span.next_sibling.text.strip(" ()"))

Scrapping page: 1
Scrapping page: 2
Scrapping page: 3
Scrapping page: 4
Scrapping page: 5
Scrapping page: 6
Scrapping page: 7
Scrapping page: 8
Scrapping page: 9
Scrapping page: 10
Scrapping page: 11
Scrapping page: 12
Scrapping page: 13
Scrapping page: 14
Scrapping page: 15
Scrapping page: 16
Scrapping page: 17
Scrapping page: 18
Scrapping page: 19
Scrapping page: 20
Scrapping page: 21
Scrapping page: 22
Scrapping page: 23
Scrapping page: 24
Scrapping page: 25
Scrapping page: 26
Scrapping page: 27
Scrapping page: 28
Scrapping page: 29
Scrapping page: 30
             Error on page: 30
Scrapping page: 31
             Error on page: 31
             Error on page: 31
Scrapping page: 32
Scrapping page: 33
Scrapping page: 34
             Error on page: 34
             Error on page: 34
Scrapping page: 35

In [10]:
# Checking the length of the lists

print(f"Length of reviews: {len(reviews)}")
print(f"Length of rating: {len(rating)}")
print(f"Length of date: {len(date)}")
print(f"Length of country: {len(country)}")

Length of reviews: 3497
Length of rating: 3497
Length of date: 3497
Length of country: 3497

In [36]:
# Create a dataframe from the collected data

df = pd.DataFrame({"reviews":reviews, "rating":rating, "review date":date, "country":country})

In [37]:
# sanity check

df.head()

,reviews,rating,review date,country
0,Not Verified | If I could give a minus rating...,1,15th March 2023,United Kingdom
1,✅ Trip Verified | Plane was over an hour late ...,2,15th March 2023,United Kingdom
2,Not Verified | We were flying World Traveller...,2,14th March 2023,United Kingdom
3,Not Verified | This was literally one of the ...,1,13th March 2023,Ireland
4,✅ Trip Verified | The usual shambolic unfoldi...,1,12th March 2023,United Kingdom

In [38]:
# shape of the data frame

df.shape

(3497, 4)

## Export the data into a csv file

In [39]:
import os

In [40]:
# Creating a data folder in the current working directory

try:
    os.makedirs("data")
except FileExistsError:
    print("The folder already exists")

The folder already exists

In [41]:
# Saving the csv file in the data folder

df.to_csv("data/BA_reviews_raw.csv")